<!DOCTYPE html>
<html>
      <head>
           <link rel="stylesheet"  href="css/style.css" />
      </head>

      <body>
             <div class="header1">
                 <a href="/"> HOME</a>
                 <a href="/check"> CHECK</a>
             </div>

      </body>
</html>