<!DOCTYPE html>
<html>

<head>
      <title>{{title}}</title>
      <link rel="stylesheet" href="css/style.css" />
</head>

<body>

      <h2>{{>header}}</h2>
      <h2 class="weather-status">{{weatherStatus}}</h2>
</body>

</html>