<!DOCTYPE html>
<html>

<head>
      <title>{{title}}</title>
      <link rel="stylesheet" href="css/style.css" />
</head>

<body>

      <h2>{{>header}}</h2>
      <div class="form-container">
            <form id="form">
                  <input id="input" placeholder="Country name, eg: Egypt" />
                  <button id="button" type="submit">Find the Weather</button>
            </form>
            <p id="country"></p>
            <p id="forecast"></p>
            <p id="coordinates"></p>
            <p id="error"></p>


      </div>
</body>
<script src="js/script.js"></script>

</html>