<!DOCTYPE html>
<html>

<head>
   <link rel="stylesheet" href="css/style.css" />
</head>

<body>
   <div class="header">
      <a href="/"> Weather</a>
      <a href="/welcome"> Welcome</a>
      <a href="/check"> CHECK</a>
   </div>

</body>

</html>